<h2><%= image_tag @user.gravatar_url %> <%= @user.name %> (<%= @user.geek_id %>)</h2>

<div id="content">
  <div id="blocks">
    <%if @products.empty?%>
      <p><%=@user.name%> has not listed any apps yet :( </p>
    <%end-%>
    <%5.times do %>
    <% @products.each do |product|%>
      <%= render :partial => 'products/product', :locals => {:product => product}%>
    <%end-%>
  <%end-%>
  </div>
</div>

<div id="sidebar">
  <div id="share" class="section">
    <span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_plusone_hcount' ></span>
  </div>
  <div id="about" class="section">
    <h3> About </h3>
    <%= @user.about_me %>
  </div>

  <div id="contact">
    <h3>On the web</h3>
    <ul>
      <%if @user.hn_username and !@user.hn_username.empty? %>
        <li class="first"><a href="http://news.ycombinator.com/user?id=<%=@user.hn_username%>" rel="nofollow" class="hn icon"><%=@user.hn_username%></a>
      <%end%>
      <%if @user.github_username and !@user.github_username.empty? %>
        <li><a href="https://github.com/<%=@user.github_username%>" rel="nofollow" class="github icon"><%=@user.github_username%></a>
      <%end%>
    </ul>
  </div>
</div>

<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js&q… type="text/javascript">stLight.options({publisher:'60e3d898-73e3-46a3-be81-43546b4c25c5'});</script>
