<h2><%= image_tag @user.gravatar_url %> <%= @user.name %> (<%= @user.geek_id %>)</h2>

<div id="content">
  <% @products.each do |product|%>
    <div class="block">
      <%= image_tag product.icon.ninety.url, :alt => product.name %>  
    </div> 
  <%end-%>
</div>

<div id="sidebar">
  <div id="about" class="section">
    <h3> About </h3>
    <%= @user.about_me %>
  </div>

  <div id="contact">
    <h3>On the web</h3>
    <ul>
      <%if @user.hn_username and !@user.hn_username.empty? %>
        <li class="first"><a href="http://news.ycombinator.com/user?id=<%=@user.hn_username%>" rel="nofollow" class="hn icon"><%=@user.hn_username%></a>
      <%end%>
      <%if @user.github_username and !@user.github_username.empty? %>
        <li><a href="https://github.com/<%=@user.github_username%>" rel="nofollow" class="github icon"><%=@user.github_username%></a>
      <%end%>
    </ul>
  </div>
</div>
