<div id="content">

  <% @products.each do |product|%>
    <div class="block">
      <%= image_tag product.icon.one_twenty_eight.url, :alt => product.name %>  
    </div> 
  <%end-%>
  <% @products.each do |product|%>
    <div class="block">
      <%= image_tag product.icon.one_twenty_eight.url, :alt => product.name %>  
    </div> 
  <%end-%>
  <% @products.each do |product|%>
    <div class="block">
      <%= image_tag product.icon.one_twenty_eight.url, :alt => product.name %>  
    </div> 
  <%end-%>
</div>

<div id="sidebar">
  <div class="pic_n_id">
    <div class="pic">
      <%= image_tag @user.image_url %>
    </div> 

    <div class="geekid">
      <h3><%= @user.geek_id %></h3>
    </div>
  </div>  

  <div class="name">
    <%= @user.name %> 
  </div>

</div>
