<h2><%= image_tag @user.gravatar_url %> <%= @user.name %> (<%= @user.geek_id %>)</h2>

<div id="content">
  <div id="blocks">
    <%if @products.empty?%>
      <p><%=@user.name%> has not listed any apps yet :( </p>
    <%end-%>
    <% @products.each do |product|%>
      <%= render :partial => 'products/product', :locals => {:product => product}%>
    <%end-%>
  </div>
</div>

<div id="sidebar">
  <div id="share" class="section">
    <span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_plusone_hcount' ></span>
    <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'bf4d5ef3-76c1-4c08-ab03-5cc70b7cd86e'});</script>
  </div>
  <div id="about" class="section">
    <h3> About </h3>
    <% if !@user.about_me.nil? and !@user.about_me.empty? %>
      <%= @user.about_me %>
    <% elsif current_user == @user %>
      <%= link_to "Edit", edit_user_path(@user) %>
    <% end %>    
  </div>

  <div id="contact">
    <h3>On the web</h3>
    <ul>
      <%if @user.hn_username and !@user.hn_username.empty? %>
        <li class="first"><a href="http://news.ycombinator.com/user?id=<%=@user.hn_username%>" rel="nofollow" class="hn icon"><%=@user.hn_username%></a>
      <%end%>
      <%if @user.github_username and !@user.github_username.empty? %>
        <li><a href="https://github.com/<%=@user.github_username%>" rel="nofollow" class="github icon"><%=@user.github_username%></a>
      <%end%>
    </ul>
  </div>
</div>

