<!DOCTYPE html>
<html>
<head>
  <title>iGeek.at</title>
  <%= stylesheet_link_tag 'reset', 'style', 'black' %>
  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->  
  <%= javascript_include_tag 'jquery', 'jquery_tweet', 'modernizr', 'jquery_lightbox', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
